{{#year}}
<div class="yearindicator yearindicator__{{year}}">
    <div class="yearindicator__jahreszahl yearindicator__jahreszahl-{{year}}">
        {{year}}
    </div>
    <div class="yearindicator__linie yearindicator__linie-{{year}}">
        <hr class=yearindicator__linie-1>
        </hr>
        <!-- <hr class=yearindicator__linie-2>
        </hr> -->
    </div>
    <div class="yearindicator__button yearindicator__button-{{year}} yearindicator__button-open">
        <i class="material-icons" style="font-size:60px;">keyboard_arrow_up</i>
    </div>
</div>

<div class="paintinglist paintinglist__{{year}} paintinglist-visible">
    <!-- Hier werden die einzelnen Bilder eingefügt -->
</div>
{{/year}}