{{#year}}
<div class=pictureblock>
    <div class="yearindicator yearindicator__{{year}}">
        <div class=yearindicator__year>
            {{year}}
        </div>
        <div class=yearindicator__linie>
            <hr>
            </hr>
        </div>
        <div class=yearindicator__button>
            <i class="material-icons" style="font-size:60px;">keyboard_arrow_up</i>
        </div>
    </div>

    <div class=picturelist>
        <figure>
            <img src="https://placehold.it/140x140">
        </figure>

        <figure>
            <img src="https://placehold.it/140x140">
        </figure>

        <figure>
            <img src="https://placehold.it/140x140">
        </figure>

        <figure>
            <img src="https://placehold.it/140x140">
        </figure>

        <figure>
            <img src="https://placehold.it/140x140">
        </figure>

        <figure>
            <img src="https://placehold.it/140x140">
        </figure>
    </div>
</div>
{{/year}}