/* Headlines
############################################################################ */

h1{
  font-family: Source Sans Pro Bold;
  font-size: $d-xxl;
}

h2{
  font-family: Source Sans Pro Bold;
  font-size: $d-xl;
}

h3{
  font-family: Source Sans Pro Bold;
  font-size: $d-l;
}

h4{
  font-family: Source Sans Pro Bold;
  font-size: $d-m;
}

p{
  font-family: Source Sans Pro Normal;
  font-size: $d-m;
}

.id{
  font-family: Source Sans Pro Normal;
  font-size: $d-s;
}

/* Allgemeines
############################################################################ */

body{
  margin: 0;
}

/* Grid
############################################################################ */

header{
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-gap: 20px;
  justify-content:center;
  align-items: center;
}

.yearindicator{
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-gap: 20px;
  justify-content:center;
  align-items: center;
  margin-top: $d-m;
  margin-bottom: $d-m;
}

.pictures{
  display: grid;
  grid-template-columns: repeat(6, 140px);
  place-items: start;
  grid-gap: 20px;
  justify-content:center;
  margin-top: $d-m;
  margin-bottom: $d-m;
}
