header{
    padding: 20px;
    align-items: center;
    justify-content:center;
    background-color: white;
    border-bottom: solid;
    border-bottom-width: 1px;

    .logo{
        grid-column: 1/11;
        font-family: Source Sans Pro Bold;
        font-size: $d-xl;
    }

    .dropdown {
        grid-column: 12;
    }
}

.yearindicator {
    justify-content:center;
    align-items: center;
    margin-top: $d-m;
    margin-bottom: $d-m;

    &__year {
        grid-column: 1/3;
        grid-row: 1;
        font-family: Source Sans Pro Bold;
        font-size: $d-xxl;
        justify-content: center;
    }
    &__linie {
        grid-column: 3/12;
        grid-row: 1;
        hr{
            border: 1px solid black;
        }
    }
    &__button {
        justify-content:left;
        grid-column: 12/12;
        grid-row: 1;
    }
}

.picturelist{
    justify-content:center;
    margin-top: $d-m;
    margin-bottom: $d-m;

    figure{
        margin: 0;
        img{
            object-fit: cover;
            width: 140px;
            height: 140px;
        }
    }
}
