/* Sizes
---------------------------------------------------------------------------- */
//Desktop
$d-s: 10px;
$d-m: 16px;
$d-l: 25px;
$d-xl: 31.5px;
$d-xxl: 66px;

//Mobile
$m-s: 12.5px;
$m-m: 16px;
$m-l: 25px;
$m-xl: 31.5px;
$m-xl: 60px;

/* Colors
---------------------------------------------------------------------------- */

$w: #FFFFFF;
$g1: #F2F2F2;
$g2: #F0F0F0;
$g3: #DDDDDD;
$g4: #B4B4B4;
$g5: #444444;
$g6: #222222;
$b: #000321;
$y: #FECB2F;
