/* Sizes
---------------------------------------------------------------------------- */
//Desktop
$d-s: 10px;
$d-m: 16px;
$d-l: 25px;
$d-xl: 31.5px;
$d-xxl: 66px;

//Mobile
$m-s: 12.5px;
$m-m: 16px;
$m-l: 25px;
$m-xl: 31.5px;
$m-xl: 60px;