/* Sizes
---------------------------------------------------------------------------- */
//Desktop
$d-s: 10;
$d-m: 16;
$d-l: 25;
$d-xl: 31.5;
$d-xxl: 66;

//Mobile
$m-s: 12.5;
$m-m: 16;
$m-l: 25;
$m-xl: 31.5;
$m-xl: 60;